@import '~@angular/material/theming';

@mixin main-theme($theme) {
  $primary: map-get($theme, primary);

  .main-sidenav {
    background-color: mat-color($primary, 100);
  }
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.main-toolbar-spacer {
  width: 10px;
}

.main-toolbar-flex {
  flex: auto;
}
