<mat-sidenav-container class="main-container">
  <mat-sidenav
    #sidenav
    class="main-sidenav"
    [mode]="(guiService.isHandset$ | async)!.matches ? 'over' : 'side'"
    [opened]="!(guiService.isHandset$ | async)!.matches"
  >
    <app-menu>
    </app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4" color="primary">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    
      <span class="main-toolbar-spacer"></span>
    
      <button
        mat-icon-button
        *ngIf="editedNoteId"
        (click)="removeEditedNote()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    
      <span class="main-toolbar-spacer"></span>
      
      <span class="main-toolbar-flex"></span>
    
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    
      <span class="main-toolbar-spacer"></span>

      <button
        mat-icon-button
        [matMenuTriggerFor]="appMenu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #appMenu="matMenu">
        <button
          mat-menu-item
          disabled
        >
          <mat-icon>account_circle</mat-icon>
          
          <span>
            {{ authService.userName$ | async }}
          </span>
        </button>

        <button
          mat-menu-item
          (click)="signOut()"
        >Sign Out</button>

        <button
          mat-menu-item
          (click)="showAbout()"
        >About My Notes</button>
      </mat-menu>

    </mat-toolbar>
    
    <router-outlet>
    </router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
