@import '~@angular/material/theming';

@mixin settings-theme($theme) {
  $primary: map-get($theme, primary);

  .settings-container {
    background-color: mat-color($primary, 200);
  }
}

.settings-container {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  padding: 0px 20px;
  border-radius: 8px;
}

.settings-label {
  cursor: pointer;
}

.settings-label-text {
  display: inline-block;
  min-width: 200px;
  font-size: 0.9em;
}

.settings-control-container {
  display: inline-block;
  width: 200px;
  margin-bottom: 24px;
  text-align: center;
}

@media screen and (max-width: 399px) {
  .settings-label-text {
    display: block;
  }

  .settings-container-field {
    margin-top: 8px;
  }

  .settings-label-text-slide-toggle {
    margin-bottom: 8px;
  }
}
