<div class="settings-container mat-elevation-z4">
  <div>
    <span class="settings-label-text">Language</span>
    <mat-form-field>
      <mat-select [formControl]="languageControl">
        <mat-option value="en">English</mat-option>
        <mat-option value="sl">Slovenian</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <label class="settings-label">
      <span class="settings-label-text">Day Theme</span>
      <div class="settings-control-container">
        <mat-slide-toggle [formControl]="isDayThemeControl"></mat-slide-toggle>
      </div>
    </label>
  </div>

  <div>
    <label class="settings-label">
      <span class="settings-label-text">Password Protection</span>
      <div class="settings-control-container">
        <mat-slide-toggle [formControl]="hasPasswordControl"></mat-slide-toggle>
      </div>
    </label>
  </div>
</div>
