<div class="settings-manager-container">
  <app-settings
    class="settings-manager-component"
    [language]="settingsService.language$ | async"
    [isDayTheme]="settingsService.isDayTheme$ | async"
    [hasPassword]="settingsService.hasPassword$ | async"
    (languageChanged)="settingsService.setLanguage($event)"
    (isDayThemeChanged)="settingsService.setIsDayTheme($event)"
    (hasPasswordChanged)="settingsService.setHasPassword($event)"
    (init)="settingsService.loadSettings()"
  ></app-settings>

  <div class="settings-manager-background-image-container">
    <mat-icon class="settings-manager-background-image">settings</mat-icon>
  </div>
</div>
