<div class="settings-manager-container">
  <app-settings
    [language]="settingsService.language$ | async"
    [isDayTheme]="settingsService.isDayTheme$ | async"
    [hasPassword]="settingsService.hasPassword$ | async"
    (languageChanged)="settingsService.setLanguage($event)"
    (isDayThemeChanged)="settingsService.setIsDayTheme($event)"
    (hasPasswordChanged)="settingsService.setHasPassword($event)"
    (init)="settingsService.loadSettings()"
  ></app-settings>

  <!-- <pre>
      language: {{ settingsService.language$ | async }}
      isDayTheme: {{ settingsService.isDayTheme$ | async }}
      hasPassword: {{ settingsService.hasPassword$ | async }}
  </pre> -->
</div>
