<div
  class="post-container"
>
  <textarea
    #textElement
    matInput
    class="post-textarea mat-elevation-z8"
    value="{{ item?.text }}"
    [placeholder]="placeholder"
    (keyup.esc)="onTextElementKeyUpEsc();"
  >
  </textarea>

  <div class="post-button-container">
    <button
      type="button"
      mat-raised-button
      class="post-button post-button-save mat-elevation-z8"
      color="primary"
      (click)="onSaveClick()"
    >
      Save
    </button>

    <button
      type="button"
      mat-raised-button
      class="post-button mat-elevation-z8"
      color="accent"
      (click)="onClearClick()"
    >
      Clear
    </button>
  </div>
</div>
