@import '~@angular/material/theming';

$night-palette-olive-dark: (
    50 : #e5e5e0,
    100 : #bdbdb3,
    200 : #929280,
    300 : #66664d,
    400 : #454526,
    500 : #242400,
    600 : #202000,
    700 : #1b1b00,
    800 : #161600,
    900 : #0d0d00,
    A100 : #ffff51,
    A200 : #ffff1e,
    A400 : #eaea00,
    A700 : #d0d000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$night-palette-wheat-dark: (
    50 : #ecebe9,
    100 : #cfccc7,
    200 : #afaaa2,
    300 : #8e887c,
    400 : #766f60,
    500 : #5e5544,
    600 : #564e3e,
    700 : #4c4435,
    800 : #423b2d,
    900 : #312a1f,
    A100 : #ffcd79,
    A200 : #ffb946,
    A400 : #ffa613,
    A700 : #f89b00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$night-palette-orange-red: (
    50 : #ede4e0,
    100 : #d2bbb3,
    200 : #b48e80,
    300 : #96604d,
    400 : #803e26,
    500 : #691c00,
    600 : #611900,
    700 : #561400,
    800 : #4c1100,
    900 : #3b0900,
    A100 : #ff7b71,
    A200 : #ff4b3e,
    A400 : #ff1c0b,
    A700 : #f11100,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$night-primary: mat-palette($night-palette-olive-dark);
$night-accent:  mat-palette($night-palette-wheat-dark);
$night-warn:    mat-palette($night-palette-orange-red);

$night-theme: mat-light-theme($night-primary, $night-accent, $night-warn);

.night-theme {
    @include angular-material-theme($night-theme);
}
