// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html, app-root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: Roboto, Helvetica Neue, sans-serif;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
