<mat-toolbar class="mat-elevation-z4" color="primary">

  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span class="app-toolbar-spacer"></span>

  <button
    mat-icon-button
    *ngIf="editedItemId"
    (click)="removeEditedItem()"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <span class="app-toolbar-spacer"></span>
  
  <span class="app-toolbar-flex"></span>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <span class="app-toolbar-spacer"></span>
  
  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>

<app-post
  [item]="itemService.getItem(editedItemId) | async"
  (post)="post($event)"
  (clear)="stopEditing()"
>
</app-post>

<app-list
  class="app-list"
  [items]="itemService.getItems()"
  [editedItem]="itemService.getItem(editedItemId)"
  (startEditing)="startEditing($event)"
  appFlexHeight
  appFixHeader
>
</app-list>


