<div class="menu-header">
  My Notes&nbsp;
</div>

<mat-nav-list>

    <mat-list-item (click)="navigate('notes')">
      <span matLine>
        Notes
      </span>
      <span matLine>
        Manage your notes.
      </span>
      <mat-icon matListIcon>edit</mat-icon>
    </mat-list-item>
  
    <mat-list-item (click)="navigate('tags')">
      <mat-icon matListIcon>title</mat-icon>
      <span matLine>
        Tags
      </span>
      <span matLine>
        Define your tags.
      </span>
    </mat-list-item>

    <mat-list-item (click)="navigate('settings')">
      <mat-icon matListIcon>settings</mat-icon>
      <span matLine>
          Settings
      </span>
      <span matLine>
          Customize application settings.
      </span>
    </mat-list-item>
  
  </mat-nav-list>