<div class="menu-header">
  My Notes&nbsp;
</div>

<mat-nav-list>

  <mat-list-item>
      <mat-icon>edit</mat-icon>
      <a class="menu-item-link" routerLink="/notes">Notes</a>
  </mat-list-item>

  <mat-list-item>
      <mat-icon>title</mat-icon>
      <a class="menu-item-link" routerLink="/tags">Tags</a>
  </mat-list-item>

  <mat-list-item>
      <mat-icon>settings</mat-icon>
      <a class="menu-item-link" routerLink="/settings">Settings</a>
  </mat-list-item>

  <mat-list-item>
      <mat-icon>exit_to_app</mat-icon>
      <a class="menu-item-link" routerLink="/logout">Log Out</a>
  </mat-list-item>

</mat-nav-list>