<div class="notes-manager-container">
  <app-edit
    placeholder="Enter a new note"
    [item]="notesService.editedNote$ | async"
    (save)="save($event)"
    (clear)="notesService.stopEditing()"
  >
  </app-edit>

  <app-list
    [listDefinition]="listDefinition"
    [columnDefinitions]="columnDefinitions"
    [items]="notesService.notes$ | async"
    [editedItem]="notesService.editedNote$ | async"
    noItemsLabel="No notes to display."
    (startEditing)="notesService.startEditing($event)"
  >
  </app-list>
</div>
