@import '~@angular/material/theming';

@mixin list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  tr:nth-child(odd) {
    background-color: mat-color($primary, 200);
  }
  
  tr:nth-child(even) {
    background-color: mat-color($accent, 200);
  }
}

.container {
  margin: 4px;
  min-height: 200px;
  height: 100%;
  overflow: auto;
}

.table {
  width: 100%;
}
