@import '~@angular/material/theming';

@mixin list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .list-container {
    background-color: mat-color($primary, 100);
  }

  tr:nth-child(odd) {
    background-color: mat-color($primary, 200);
  }
  
  tr:nth-child(even) {
    background-color: mat-color($accent, 200);
  }

  tr:hover {
    background-color: mat-color($warn, 200);
  }

  tr.selected {
    background-color: mat-color($warn, 300);
  }

  .mat-header-row > th {
    background-color: mat-color($primary, 300);
    font-size: 1.25em;
  }
}

.list-container {
  position: relative;
  margin: 0px 4px;
  border-radius: 4px;
  overflow: auto;
}

.list-table {
  width: 100%;
}

thead {
  display: none;
}

.mat-cell {
  padding-right: 16px;
}

.list-no-items-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .list-container {
    margin: 0px 8px;
    border-radius: 8px;
  }

  thead {
    display: table-header-group;
  }  
}
