<div
  class="edit-container"
>
  <textarea
    #textElement
    matInput
    class="edit-textarea mat-elevation-z4"
    value="{{ item?.text }}"
    [placeholder]="placeholder"
    (keyup.esc)="onTextElementKeyUpEsc();"
  >
  </textarea>

  <div class="edit-button-container">
    <button
      type="button"
      mat-raised-button
      class="edit-button edit-button-save mat-elevation-z4"
      color="primary"
      (click)="onSaveClick()"
    >
      Save
    </button>

    <button
      type="button"
      mat-raised-button
      class="edit-button mat-elevation-z4"
      color="accent"
      (click)="onClearClick()"
    >
      Clear
    </button>
  </div>
</div>
