<div class="tags-manager-container">
    <app-post
    [multiline]="false"
    [item]="tagService.editedTag$ | async"
    placeholder="Enter a new tag"
    (post)="post($event)"
    (clear)="tagService.stopEditing()"
  >
  </app-post>

  <app-static-list
    class="tags-manager-list"
    [items]="tagService.tags$ | async"
    [editedItem]="tagService.editedTag$ | async"
    noItemsLabel="No tags to display."
    (startEditing)="tagService.startEditing($event)"
    appFixHeader
  >
  </app-static-list>
</div>
  